BasedOnStyle: WebKit

AlignAfterOpenBracket: Align
AlignTrailingComments: true
AlignConsecutiveDeclarations: None
PointerAlignment: Left
ReferenceAlignment: Left

AllowShortCaseLabelsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: true
AllowShortLambdasOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: All

BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: true
  AfterCaseLabel: true
  AfterControlStatement: Always
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: true
  BeforeCatch: true
  BeforeElse: true
  BeforeLambdaBody: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false

BreakBeforeBinaryOperators: None
BreakConstructorInitializers: AfterColon

ColumnLimit: 0

IndentPPDirectives: AfterHash
IndentCaseLabels: true

MaxEmptyLinesToKeep: 2
NamespaceIndentation: All

SortIncludes: Never

SpaceInEmptyBlock: false
SpacesBeforeTrailingComments: 2

UseTab: Never
TabWidth: 4
