[submodule "lib/std"]
	path = lib/std
	url = https://github.com/ArkScript-lang/std.git
[submodule "lib/modules"]
	path = lib/modules
	url = https://github.com/ArkScript-lang/modules.git
[submodule "thirdparties/clipp"]
	path = thirdparties/clipp
	url = https://github.com/SuperFola/clipp
[submodule "thirdparties/picosha2"]
	path = thirdparties/picosha2
	url = https://github.com/okdshin/PicoSHA2.git
[submodule "thirdparties/replxx"]
	path = thirdparties/replxx
	url = https://github.com/AmokHuginnsson/replxx.git
[submodule "thirdparties/fmt"]
	path = thirdparties/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "thirdparties/ut"]
	path = thirdparties/ut
	url = https://github.com/boost-ext/ut.git
[submodule "thirdparties/dtl"]
	path = thirdparties/dtl
	url = https://github.com/cubicdaiya/dtl.git
[submodule "thirdparties/ankerl_unordered_dense"]
	path = thirdparties/ankerl_unordered_dense
	url = https://github.com/martinus/unordered_dense.git
