# project junk

# folders
build/
build32/
linux/
clang/
gitstats/
__arkscript__/
packages/
.idea/
# user settings
.vscode/settings.json

# those are specific to every user
.vscode/settings.json

# files
gmon.out
include/Ark/Constants.hpp
build.sh
deploy.ps1
build-package.sh

*.so
*.dll
*.arkc
*.lib
*.arkm
*.coz
