[submodule "submodules/benchmark"]
	path = submodules/benchmark
	url = https://github.com/google/benchmark.git
[submodule "submodules/msgpack-c"]
	path = submodules/msgpack-c
	url = https://github.com/msgpack/msgpack-c.git
